.minirail {
  :first-child {
    position: relative;
  }
}

.minirail__fill {
  position: relative;
  height: 5px;
  background: linear-gradient(
    90deg,
    var(--color-fill),
    var(--color-fill2) var(--a),
    var(--color-trans) var(--a)
  );

  --color-shadow: #e48d0b;
  --color-fill: #fc3;
  --color-fill2: #f2b23a;
  --color-trans: #d6d6d6;
}
