.main-rail {
  position: relative;
  padding: 10px 0;
  cursor: crosshair;
  user-select: none;
  touch-action: none;

  .hand {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-top-color: var(--color-violent);
  }

  .hand__label {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    background: radial-gradient(#ffffff0a 30%, #00000006);
    transition: opacity 0.2s;
    user-select: none;
    pointer-events: none;
  }

  .startmark,
  .endmark {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-top-color: var(--color-primary-s);
    transform: translate(-50%, 0);
    pointer-events: none;
  }
}
