.rail__inner {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 40px;
  margin: 0 0 30px;
}

.rail__fill {
  position: relative;
  background: linear-gradient(110deg, var(--color-fill), var(--color-fill2));
  border-top-left-radius: 4px;
  box-shadow: 5px 5px 5px var(--color-shadow), -5px -5px 5px var(--color-shadow2);

  --color-shadow: #d2690029;
  --color-shadow2: #ffe9bb;
  --color-fill: #fc3;
  --color-fill2: #f2b23a;
}

.rail__fill2 {
  background: linear-gradient(
    0deg,
    var(--color-fill) 2%,
    var(--color-fill2) 10%,
    var(--color-fill2) 80%,
    var(--color-fill) 90%
  );
  border-top-right-radius: 4px;

  --color-fill: #0000000d;
  --color-fill2: #00000008;
}

.rail__hour-labels {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}

.rail__hour-label {
  position: absolute;
  transform: translateX(-50%);

  &::before {
    position: absolute;
    left: 50%;
    display: block;
    height: 3px;
    border-left: 1px solid;
    transform: translateX(-50%);
    content: '';
  }

  &::after {
    font-size: 13.2px;
    content: attr(data-hour);
  }
}
