.lc-text {
  --color-theme: var(--color-primary-d);

  color: var(--color-theme);
  white-space: pre-wrap;

  &.lc-text--color-pink {
    --color-theme: var(--color-pink-d);
  }

  &.lc-text--solid {
    color: var(--color-hl);
    font-size: 15px;
    background: var(--color-theme);
  }
}

.lc-text--level-2 {
  font-size: 15px;

  &.lc-text--solid {
    padding: 1px 2px;
    font-size: 13.2px;
  }
}

.lc-text--level-3 {
  font-size: 20px;

  &.lc-text--solid {
    padding: 3px 6px;
    font-size: 15px;
  }
}
