@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Heebo:300');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  // element-plus
  font-family: var(--font-family-standard);
  letter-spacing: 0.5px;
}

:root {
  --color-hl: #fff;
  --color-l: #f8f8f8;
  --color-md: #f0efee;
  --color-d: #ccc;

  // /
  --color-primary: #fd1;
  --color-primary-s: #e48d0b;
  --color-primary-d: #b17215;

  // /
  --color-violent: #bea4f5;
  --color-violent-d: #574383;
  --color-powder: #72b5f5;
  --color-powder-d: #547ea5;
  --color-pink: #f59fc4;
  --color-pink-d: #992859;

  // /
  /* stylelint-disable value-keyword-case */
  --font-family-standard: Heebo, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --font-family-digit: Heebo, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  /* stylelint-enable value-keyword-case */
}

#app {
  height: 100%;
  overflow: hidden;
  background: var(--color-md);
}

button {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  color: var(--color-primary-d);
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  outline: 0;
  transition: all 0.1s;

  &:disabled {
    text-decoration: line-through #111;
    border: 2px solid transparent;
  }

  &:not(:disabled) {
    &:hover,
    &:focus-visible {
      background: #0001;
      box-shadow: unset;
    }

    &.active,
    &:active {
      background: #0002;
    }
  }
}

.sf-popper--default {
  background-color: var(--color-md);
}
